# Виртуальное окружение
venv/
.env

# Компилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и базы данных
*.log
*.sqlite3
*.db

# Статические и медиафайлы
static/
media/

# IDE и редакторы
.vscode/
.idea/
*.swp

# Docker
*.pid
